@import "../../App.scss";

.nav-bar-container {
  height: 100vh;
  width: 20%;
  padding: $main-layout-spacing 0 $main-layout-spacing $main-layout-spacing;

  #nav-bar {
    box-shadow: $main-layout-shadow;
    padding: 1.8rem;
    height: 100%;
    border-radius: $border-radius-main;

    #logo-container {
    }

    .nav-links {
      margin-top: 5rem;

      ul {
        list-style-type: none;
        display: inline-block;

        li {
          font-size: 1.2rem;
          margin: 2rem 0;
          font-weight: 300;
          color: $color-main-grey;
          transition: 0.2s ease;

          &:hover {
            transform: scale(1.05);
          }

          a.active-link {
            color: $color-main-red;
            font-weight: 500;
          }
        }
      }
    }
  }
}
